<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?{{ site.baidu_statistic }}";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
</script>

<!-- baidu auto push for seo -->
<script>
  window.addEventListener('load', function () {
      var src = 'http://push.zhanzhang.baidu.com/push.js'
      var curProtocol = window.location.protocol.split(':')[0];
      if (curProtocol === 'https') {
          src = 'https://zz.bdstatic.com/linksubmit/push.js';
      }
      globalAddScript(src);
  })
</script>
