---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <h2 class="post-subtitle">{{ page.subtitle }}</h2>

  <div class="post-info">
    {% if page.date %}
      <time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>

  {{ content }}
</div>

<div class='tags'>
  {% for tag in page.tags %}
    <a href='{{ site.baseurl }}/tag/{{ tag }}'>{{ tag }}</a>
  {% endfor %}
</div>

<br />

<div class="extra-info">
  <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>
本文采用<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/deed.zh">「CC BY-SA 4.0」</a>知识共享许可协议，如果还喜欢其他文章， 
欢迎<a href="/subscription">订阅“胡涂说”博客</a>。

  <figure>
    <img src="{{site.wechat_official}}" width="150" alt="公众号">  
    <figcaption>微信公众号同步更新，欢迎关注😊</figcaption>
  </figure>
</div>

{% include comments.html %}

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>

{% if site.addthis %}
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script async type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ site.addthis }}"></script>
{% endif %}
